<%- include('partials/head') %>
<div class="container-fluid">
    <div class="row justify-content-center">
        <% for (c of characters) { %>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mt-3 mx-2 mb-3">
                <a href="/maker/<%= c.id %>" class="text-decoration-none">
                    <div class="card shadow-sm h-100 rounded" style="cursor: pointer;">
                        <img src="https://api.dicebear.com/9.x/adventurer/svg" class="card-img-top rounded-top" alt="<%= c.name %>">
                        <div class="card-body text-center">
                            <h5 class="card-title"><%= c.name %></h5>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>

        <!-- Add a New Character card -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mt-3 mx-2 mb-3">
            <a href="/maker/new" class="text-decoration-none">
                <div class="card shadow-sm h-100 rounded" style="cursor: pointer;">
                    <div class="card-body text-center d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
                        <h5 class="card-title">Add a New Character</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


    <%- include('partials/footer') %>